.row:hover {
  background-color: var(--row-hover-color) !important;
  transition: background-color 0.13s ease-in-out;
}

.subRow:hover {
  background-color: var(--subRow-hover-color) !important;
  transition: background-color 0.13s ease-in-out;
}
